

{% load static %}

<div class="content5">
    <div class="container">
      <h3 class="title">official brands</h3>
      <div class="row justify-content-center gy-3">
        <div class="col-5 col-sm-4 col-md-3 col-lg-2 card_box">
          <div class="card">
            <img src="{% static '' %}img/brand1.jpg" class="card-img-top">
          </div>
        </div>
        <!--  -->
        <div class="col-5 col-sm-4 col-md-4 col-lg-2 card_box">
          <div class="card">
            <img src="{% static '' %}img/brand2.jpg" class="card-img-top">
          </div>
        </div>
        <!--  -->
        <div class="col-5 col-sm-4 col-md-4 col-lg-2 card_box">
          <div class="card">
            <img src="{% static '' %}img/brand3.jpg" class="card-img-top">
          </div>
        </div>
        <!--  -->
        <div class="col-5 col-sm-4 col-md-4 col-lg-2 card_box">
          <div class="card">
            <img src="{% static '' %}img/brand4.jpg" class="card-img-top">
          </div>
        </div>
        <!--  -->
        <div class="col-5 col-sm-4 col-md-4 col-lg-2 card_box">
          <div class="card">
            <img src="{% static '' %}img/brand5.jpg" class="card-img-top">
          </div>  
        </div>
        <!--  -->
        <div class="col-5 col-sm-4 col-md-4 col-lg-2 card_box">
          <div class="card">
            <img src="{% static '' %}img/brand6.jpg" class="card-img-top">
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>