{% load static %}

<!-- hero/banner/showcase  -->
   <div class="hero pt-4 pb-5"> 
    <div class="container">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner products" data-aos="zoom-in" data-aos-duration="3000">
          <div class="carousel-item active">
            <img src="{% static '' %}img/model5.jpg" class="d-block">
            <div class="carousel-caption">
              <h5>lipstick</h5>
              <p>a set of lush lipstick and brushes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- hero done -->