<div class="col-9 col-sm-9 col-md-3 col-lg-3 advert">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 mb-4">
      <div class="card newcard">
        <div class="card-body">
          <p class="card-text"><a href="{% url 'index' %}">home</a></p>
          <p class="card-text"><a href="#">cart</a></p>
          <p class="card-text"><a href="{% url 'accounts:profile' %}">profile</a></p> 
          <p class="card-text"><a href="{% url 'accounts:profile_update' %}">profile update</a></p>
          <p class="card-text"><a href="{% url 'accounts:password' %}">password update</a></p>
        </div>
      </div>
    </div>
  </div>
</div>