{% extends 'base.html' %}


{% block title %} User Signin {% endblock title %}

{% block header %} {% include 'header.html' %}{% endblock header %}

{% block content %}
<!-- content section begins -->
<div class="content ">
  <!-- content4  -->
  <div class="profile">
    <div class="container-fluid">
      <h3 class="title">user signin</h3>
      <div class="row justify-content-center gy-3 reg">
        <div class="col-9 col-sm-9 col-md-4 col-lg-3 d-none d-md-block advert">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-9 col-sm-9 col-md-5 col-lg-5">
          <div class="card main">
            <div class="card-body">
              <div class="address">
                <form class="form_box" method="POST" action="{% url 'accounts:signin' %}">
                {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">username</label>
                    <input type="text" name="username" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <button type="submit" class="btn mb-3">signin</button>
                  <div class="mb-3 password">
                    <div id="textHelp" class="form-text">signin to fast track your order processing</div>
                    <a href="{% url 'accounts:signup' %}" id="textHelp" class="form-text">or signup for a new account</a>
                    <a href="{% url 'accounts:password_reset' %}" id="textHelp" class="form-text">Forgot Password? Reset here</a>
                  </div> 
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-9 col-sm-9 col-md-3 col-lg-3 advert">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                  
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                  
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                  
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <!-- content4  done -->
  <!-- content5 -->
  {% include 'brands.html' %}
   <!-- content5 done -->
</div>
<!-- content section ends -->

{% endblock content %}

{% block footer %} {% include 'footer.html' %}{% endblock footer %}