{% extends 'base.html' %}


{% block title %} User SignUp {% endblock title %}

{% block header %} {% include 'header.html' %}{% endblock header %}

{% block content %}
<!-- content section begins -->
<div class="content ">
  <!-- content4  -->
  <div class="profile">
    <div class="container-fluid">
      <h3 class="title">user signup</h3>
      <div class="row justify-content-center gy-3 reg">
        <div class="col-9 col-sm-9 col-md-4 col-lg-3 d-none d-md-block advert">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-9 col-sm-9 col-md-5 col-lg-5">
          <div class="card main">
            <div class="card-body">
              <div class="address">
                <form method="POST" action="{% url 'accounts:signup' %}">
                {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">username</label>
                    <input name="username" type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">first name</label>
                    <input name="first_name" type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">last name</label>
                    <input name="last_name" type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">email</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">phone</label>
                    <input name="phone" type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">password</label>
                    <input name="password1" type="password" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">repeat password</label>
                    <input name="password2" type="password" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <button type="submit" class="btn mb-3">signup</button>
                  <div class="mb-3 password">
                    <div id="textHelp" class="form-text">password should be at least 8 characters</div>
                    <div id="textHelp" class="form-text">password can be letters, numbers and symbols</div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-9 col-sm-9 col-md-3 col-lg-3 advert">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                  
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                  
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                  
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-10 mb-4">
              <div class="card newcard anoda">
                <div class="card-body">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <!-- content4  done -->
  <!-- content5 -->
  {% include 'brands.html' %}
   <!-- content5 done -->
</div>
<!-- content section ends -->

{% endblock content %}

{% block footer %} {% include 'footer.html' %}{% endblock footer %}