{% extends 'base.html' %}
{% load humanize %}

{% block title %} Make Payment {% endblock title %}

{% block header %} {% include 'header.html' %}{% endblock header %}

{% block content %}
<!-- content section begins -->

  <!-- checkout  -->
  <div class="checkout py-5">
    <div class="container">
      <h3 class="title">Order Summary</h3>
      <div class="row justify-content-center">
        <div class="col-10 col-sm-10 col-md-8">
          <div class="accordion accordion-flush" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Order Summary
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="table_box table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">product</th>
                            <th scope="col">name</th>
                            <th scope="col">$ price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">$ amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if orderitem %}
                            {% for item in orderitem %}
                              <tr>
                                <td><img src="{{item.product.p_img.url}}"></td>
                                <td>{{item.product.p_name|title}}</td>
                                <td>{{item.price|floatformat:2|intcomma}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.amount|floatformat:2|intcomma}}</td>
                              </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                        <tbody class="total">
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>total: {{total}}</td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Delivery Address
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="address">
                    <form action="{% url 'cart:payment' %}" method="POST"> 
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">first name</label>
                        <input type="text" name="first_name" value="{{profile.first_name|title}}" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">last name</label>
                        <input type="text" name="last_name" value="{{profile.last_name|title}}" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">order address</label>
                        <input type="text" name="address" value="{{profile.address|title}}" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">Order city</label>
                        <input type="text" name="city" value="{{profile.city|title}}" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">order state</label>
                        <input type="text" name="state" value="{{profile.state|title}}" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">phone number</label>
                        <input type="text" name="phone" value="{{profile.phone|title}}" class="form-control" id="exampleInputText1">
                        <input type="hidden" name="total" value="{{total}}" class="form-control" id="exampleInputText1">
                      </div>
                      <button type="submit" class="btn">place order</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- checkout done -->
  <!-- content5 -->
  {% include 'brands.html' %}
   <!-- content5 done -->
</div>
<!-- content section ends -->
  
{% endblock content %}

{% block footer %} {% include 'footer.html' %}{% endblock footer %}